<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
        <h1>Home PAge</h1>
        <div>
        {% for room in rooms %}
            <p>{{room.id}} -- {{room.name}}</p>
            <a href="{% url 'ROOM' room.id %}"><button>Enter Room</button></a>
                <hr>
        {% endfor %}
    </div>
    {% endblock %}


</body>
</html>